<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員系統</title>
</head>
<body>
    <h2>會員系統首頁</h2>
    <div>歡迎光臨</div>
    <h3>會員註冊</h3>
    <form action="/signup" method="POST">
        暱稱 <input type="text" name="nickname" /><br/>
        信箱 <input type="text" name="email" /><br/>
        密碼 <input type="password" name="password" /><br/>
        <button>註冊</button>
    </form>
    
    <h3>會員登入</h3>
    <form action="/signin" method="POST">
        信箱 <input type="text" name="email" /><br/>
        密碼 <input type="password" name="password" /><br/>
        <button>登入</button>
    </form>
</body>
</html>